body{
    margin: 0%;
    padding: 0%;
}
.navbar li{
    list-style-type: none;
    margin-left: 15px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar{
    display: flex;
    background-color: rgb(21, 20, 20);
    height: 35px;
}
.form{
    display: flex;
    margin-left: 55%;
}
.navbar li:hover{
    background-color: black;
}