body{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

.items{
    background-color: white;
    width: 250px;
    height: 450px;
}

#started_btn{
    background-color: green;
    border: none;
    padding: 8px;
    margin-left: 50px;
}

#free{
    opacity: 50%;
}

.pro{
    background-color: white;
    border-style: dashed;
}

.plus{
  background-color: white;
  margin-left: 500px;
  border-style: dashed;
}